<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>filesys</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DeleteFileServlet</servlet-name>
    <servlet-class>cn.pzhu.javaweb.filesys.servlet.file.DeleteFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFileServlet</servlet-name>
    <url-pattern>/DeleteFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditFileServlet</servlet-name>
    <servlet-class>cn.pzhu.javaweb.filesys.servlet.file.EditFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFileServlet</servlet-name>
    <url-pattern>/EditFileServlet</url-pattern>
  </servlet-mapping>
  

</web-app>